<div class="smallCard" *ngIf="smallCard; else bigCard">
  <div class="card">
    <img
      [src]="
        'https://image.tmdb.org/t/p/w220_and_h330_face' + movie.poster_path
      "
      alt=""
    />
    <div class="footer">
      <div class="title" *ngIf="movie.title; else anotherTitle">
        {{ movie.original_title }}
      </div>
      <ng-template #anotherTitle>
        <div class="title">
          {{ movie.name }}
        </div>
      </ng-template>
      <div class="date" *ngIf="movie.release_date; else anotherDate">
        {{ movie.release_date }}
      </div>
      <ng-template #anotherDate>
        <div class="date">
          {{ movie.first_air_date }}
        </div>
      </ng-template>
    </div>
  </div>
</div>

<ng-template #bigCard>
  <div class="big-card" *ngIf="movie.poster_path"  >
    
    <img
      [src]="
        'https://image.tmdb.org/t/p/w220_and_h330_face' + movie.poster_path
      "
      alt=""
    />
    <div class="text">
      <div
        class="title-big-card"
        *ngIf="movie.original_title; else anotherTitleBigCard"
      >
        <h2>{{ movie.original_title }}</h2>
        <p class="date-big-card">{{ movie.release_date }}</p>
        <p class="description">{{ movie.overview }}</p>
      </div>
    </div>
  </div>
  <ng-template #anotherTitleBigCard>
    
     
      <div class="title-bid-card">
        <h2>{{ movie.name }}</h2>
        <p class="date-big-card">{{ movie.first_air_date }}</p>
        <p class="description">{{ movie.overview }}</p>
      </div>
    
  </ng-template>
</ng-template>
