.card img {
  width: 150px;
  height: 225px;
  border-radius: 10px 10px 0 0;
}
.card {
  background-color: white;

  width: 150px;
  height: 320px;

  border-radius: 10px;
  font-weight: bold;
}

.date {
  color: #666666;
}
.footer {
  padding: 5px;
}


@media (max-width: 768px) {
  .big-card {
    display: flex;
    /* Cambio de dirección a columna para ajuste vertical */
    width: 100vw;
    max-width: 100vw; /* Ajuste máximo del ancho al 100% del contenedor padre */
   
   
  }
}
.big-card {
    display: flex;
  max-width: 100vw;
  width:  100vw;
  height: 20vh;
  
 overflow-y: hidden;
  text-overflow: ellipsis;
  background-color: white;
  -webkit-box-shadow: 10px 5px 12px 0px rgba(243,243,243,1);
  -moz-box-shadow: 10px 5px 12px 0px rgba(243,243,243,1);
  box-shadow: 10px 5px 12px 0px rgba(243,243,243,1);
  margin-bottom: 20px;
  border-radius: 0 10px 10px 0;
}

.big-card .text .description{
  max-width: 40vw;    
  
  overflow: hidden;          
  text-overflow: ellipsis;   
  white-space: nowrap; 
}
.date-big-card{
  color: #999999;
  padding-left: 10px;
  padding-bottom: 10px;
  
}
.description{
  color: black;
  padding-left: 10px;
  font-weight: 300;
}
.text{
    display: flex;
    flex-direction: column;
}
 h2{
    font-size: 1.2em;
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
}
img {
  width: 94px;
  height: 141px;
  border-radius: 10px 0 0 10px;
}
