*{
    text-decoration: none;
    display: flex;
}
.logo{
    color: red;
    display: flex;
    flex-direction: column;
    text-align: center;

}


.logo h1{
    font-size: 0.5rem;
    color: white;
    text-align: left;
}

.container{
    background-color: black;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
}
.nav-left a{
    color: white;
    cursor: pointer;
}
.containerv2{
    width: 90%;
    justify-content: space-between;
}
.nav-left{
    gap: 20px;
    align-items: center;
   justify-content: center;
}
.logo{
    display: flex;
    flex-direction: column;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
}
.icon{
    font-size: 2rem;
}

.iconSearch{
    color: red;
}


