<div class="container">
    <div class="containerv2">

        <div class="nav-left">
            <div class="logo">
                <span class="material-symbols-outlined logo icon">
                    movie
                </span>
                <h1>InfoMovies</h1>
            </div>
            <a href="">movies</a>
            <a href="">Series</a>
            <a href="">People</a>
        </div>
        <div class="nav-right">
            <span class="material-symbols-outlined iconSearch">
                search
                </span>
        </div>
    </div>
</div>
