<!-- <div class="movie-info">
   <div class="movie-background" [style.background-image]="'url(https://image.tmdb.org/t/p/original/' + details.backdrop_path + ')'"></div>
   <div class="movie-poster">
     <img [src]="'https://image.tmdb.org/t/p/w342/' + details.poster_path" alt="Poster de la película">
   </div>
   <div class="movie-details">
     <h1>{{ details.title }}</h1>
     <p>Fecha de Estreno: <span>{{ details.release_date }}</span></p>
     <h2>Overview</h2>
     <p>{{ details.overview }}</p>
     <p>Duración: <span>{{ convertirDuracion(details.runtime) }}</span></p>
     <div class="genres">
       <h3>Géneros</h3>
       <div class="genre-list">
         <div class="genre" *ngFor="let genre of details.genres">{{ genre.name }}</div>
       </div>
     </div>
   </div>
 </div> -->

 <div class="movie-info" *ngIf="details; else anotherImg ">
   <!-- Fondo de la película -->
   <div class="movie-background" [style.background-image]="'url(https://image.tmdb.org/t/p/original/' + details.backdrop_path + ')'"></div>
 
   <!-- Póster de la película -->
   <div class="movie-poster">
     <img [src]="'https://image.tmdb.org/t/p/w342/' + details.poster_path" alt="Poster de la película">
   </div>
 
   <!-- Detalles de la película -->
   <div class="movie-details">
     <h1>{{ details.title }}</h1>
     <div class="subtitle">

       <p>Release Date: <span>{{ details.release_date }}</span></p>
       <p class="vote-average">
        <span class="vote-number">{{ details.vote_average | number: '1.1-1' }}</span>
      </p>
     </div>

     <h2>Overview</h2>
     <p>{{ details.overview }}</p>
     <p>Duración: <span>{{ convertirDuracion(details.runtime) }}</span></p>
 
     <!-- Géneros -->
     <div class="genres">
       <h3>Genders</h3>
       <div class="genre-list">
         <div class="genre" *ngFor="let genre of details.genres">{{ genre.name }}</div>
       </div>
     </div>
 
     <!-- Video de YouTube -->
     <div *ngIf="videosMovies">
       <h3 *ngIf="videosMovies.results.length > 0 ">Video</h3>
       <iframe *ngIf="videosMovies && videosMovies.results.length > 0"
       
        [src]="getVideoUrl(videosMovies.results[0].key)"
        frameborder="0" allowfullscreen
        class="video-iframe"
        >
        </iframe>
     </div>
   </div>
 </div>
 
 
<ng-template #anotherImg>
   <div class="movie-info" *ngIf="detailsSerie">
      <!-- Fondo de la película -->
      <div class="movie-background" [style.background-image]="'url(https://image.tmdb.org/t/p/original/' + detailsSerie.backdrop_path + ')'"></div>
    
      <!-- Póster de la película -->
      <div class="movie-poster">
        <img [src]="'https://image.tmdb.org/t/p/w342/' + detailsSerie.poster_path" alt="Poster de la película">
      </div>
    
      <!-- Detalles de la película -->
      <div class="movie-details">
        
        <h1>{{ detailsSerie.original_name }}</h1>

        <div class="subtitle">

          <p>Release Date: <span>{{ detailsSerie.first_air_date }}</span></p>
          <p class="vote-average">
            <span class="vote-number">{{ detailsSerie.vote_average | number: '1.1-1' }}</span>
          </p>
        </div>
        <h2>Overview</h2>
        <p>{{ detailsSerie.overview }}</p>
        <p>Seasons: <span>{{ detailsSerie.seasons.length }}</span></p>
    
        <!-- Géneros -->
        <div class="genres">
          <h3>Genders</h3>
          <div class="genre-list">
            <div class="genre" *ngFor="let genre of detailsSerie.genres">{{ genre.name }}</div>
          </div>
        </div>
    
        <!-- Video de YouTube -->
        <div *ngIf="videosMovies">
         <h3 *ngIf="videosMovies.results.length > 0">Video</h3>
         <iframe *ngIf="videosMovies && videosMovies.results.length > 0"
         
          [src]="getVideoUrl(videosMovies.results[0].key)"
          frameborder="0" allowfullscreen
          class="video-iframe"
          >
          </iframe>
       </div>
      </div>
    </div>
  </ng-template>
  
  <div class="profile-container" *ngIf="detailsPerson">
    <!-- Encabezado del perfil y biografía en una fila -->
    <div class="profile-header-and-biography">
        <div class="profile-image-container">
            <img class="profile-image" src="https://image.tmdb.org/t/p/w185/{{ detailsPerson.profile_path }}" alt="{{ detailsPerson.name }}">
        </div>
        <div class="profile-info-and-biography">
            <div class="profile-info">
                <h1 class="name">{{ detailsPerson.name }}</h1>
                <p class="birthday">Fecha de nacimiento: {{ detailsPerson.birthday }}</p>
                <p class="place-of-birth">Lugar de nacimiento: {{ detailsPerson.place_of_birth }}</p>
            </div>
            <div class="biography">
                <h2>Biografía</h2>
                <p>{{ detailsPerson.biography }}</p>
            </div>
        </div>
    </div>

    <!-- Películas conocidas -->
    <div class="movies-section"  >
        <h2 > Películas Conocidas</h2>
        <div class="scroll-container">
            <div class="scroll-content">
                <div class="movie-card" *ngFor="let movie of Casts?.cast">
                    <img src="{{ movie.poster_path ? 'https://image.tmdb.org/t/p/w185/' + movie.poster_path : 'https://via.placeholder.com/150' }}" alt="{{ movie.title }}">
                    <p>{{ movie.title }}</p>
                </div>
            </div>
        </div>
    </div>
</div>