<div class="search">
  <div class="containerSearch">
    <div id="searchTitle">
      <h1>Welcome.</h1>
      <h2>
        Discover millions of movies, series, and personalities. Explore now!
      </h2>
    </div>
    <div class="input-container">
      <form [formGroup]="myForm" >

        <input type="text" placeholder="Search for a movie, serie, person..." (keydown.enter)="findAll()"  formControlName="searching"/>
      </form>
      <span class="material-symbols-outlined material-icons"> search </span>
    </div>
  </div>
</div>

<div class="popular">
  <div id="principalTitle">Movies-Popular</div>
  <div class="cards">
    <div *ngFor="let movie of movies$ | async">
      <card [movie]="movie" [smallCard]="true" class="card" [routerLink]="['/movies/detail/movie/', movie.id]"></card>
    </div>
  </div>
  <div class="popular">
    <div class="container image">
      <div class="background-overlay"></div>
      <div id="principalTitle2">Series-Popular</div>
      <div class="cards2">
        <div *ngFor="let movie of series$ | async">
          <card [movie]="movie"[smallCard]="true" [routerLink]="['/movies/detail/serie/',movie.id]" class="card"></card>
        </div>
      </div>
    </div>
  </div>
</div>
