.container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  height: 100vh;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  scroll-behavior: smooth;
}
.cards::-webkit-scrollbar {
  width: 5px; /* Ancho del scrollbar */
}

.cards::-webkit-scrollbar-thumb {
  background-color: #dbdbdb; /* Color de fondo del thumb */
  border-radius: 6px; /* Bordes redondeados */
}

.types {
  width: 20vw;
  height: 32vh;
  display: flex;
  flex-direction: column;
  border: 1px solid #ebebeb;
  border-radius: 10px;
}
.types .type {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
  align-items: center;
}

.number {
  background-color: #ebebeb;
  padding: 5px;
  width: 10%;
  justify-content: center;
  display: flex;
  border-radius: 5px;
  font-weight: 300;
  font-size: 1em;
}
.type:hover .number {
  background-color: white;
  color: black;
}
.type h2 {
  font-size: 1em;
  font-weight: 400;
}
.pages {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 20px;
  width: 98%;
  overflow: hidden;
  
}

.pages::before {
    content: '';
    position: absolute;
    top: 116%;
    left: 0;
    width: 100%;
    height: 20px; /* Altura del difuminado, ajusta según sea necesario */
    background: linear-gradient(to top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.3)); /* Gradiente blanco */
    pointer-events: none; /* Evita que el pseudo-elemento afecte a la interacción */
  }

.selected {
    border-radius: 5px;
  padding: 5px;
  background-color: #dbdbdb; /* Color de fondo cuando está seleccionado */
  color: white; /* Color del texto cuando está seleccionado */
  cursor: pointer; /* Cambia el cursor a pointer cuando está seleccionado */
}

.number-page {
  cursor: pointer;
}
.type:hover {
  background-color: #ebebeb;
  cursor: pointer;
}

.title {
  background-color: black;
  color: white;
  border-radius: 10px 10px 0px 0px;
}
.title h1 {
  font-size: 1.2em;
  padding: 25px;
  font-weight: 600;
}
